В файле <i>orders</i> представлена информация о заказах в онлайн-магазине.
```
OrderID - ID Заказа,
UserID - ID клиента,
OrderTime - время заказа,
items - список элементов в заказе, каждый элемент описан словарем:
    ItemID  - ID продукта, 
    price - цена единицы товара, 
    quantity - количество единиц товара в заказе
```
В файле <i>categories</i> представлена информация о категории товаров.
```
ItemID - ID продукта,
Category - категория продукта,
ParentCategory - более крупная категория продукта
```

## Анализ логов продуктового магазина

Представьте, что вы работаете аналитиком онлайн-магазина и ваша цель - повысить GMV (суммарную выручку от продажи товаров). Для этого вы хотите провести ряд исследований и придумать какие-то меры для увеличения выручки.

* Определите, какого числа было сделано больше всего заказов?
* Найдите топ-3 ParentCategory по GMV (суммарная выручка, которую принесла продажа товаров этой категории)
* Напишите функцию, которая принимает на вход OrderID и рекомендует ItemID продукта для корзины этого заказа. Проверьте работу этой функции.

In [1]:
import pandas as pd

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "C:\Anaconda3\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Anaconda3\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Anaconda3\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "C:\Anaconda3\lib\site-packages\traitlets\config\application.py", line 846, in launch_instance
    app.start()
  File "C:\Anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 677, in start
    self.io_loop.start()
  File "C:\Anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 199, in start
    self.asyncio_loop.run_forever()
  File "C:\Anaconda3\lib\asyncio\base_events.py", line 596, in run_forever
    self._run_once()
  File "C:\Anaconda3\lib\asyncio\base_events.py", line 1890, in _run_once
    handle._run()
  File "C:\Anaconda3\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 457, in dispatch_queue
    await self.process_one()
  File "C:\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 446, in process_one
    await dispatch(*args)
  File "C:\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 353, in dispatch_shell
    await result
  File "C:\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 648, in execute_request
    reply_content = await reply_content
  File "C:\Anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 353, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "C:\Anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 533, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2901, in run_cell
    result = self._run_cell(
  File "C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2947, in _run_cell
    return runner(coro)
  File "C:\Anaconda3\lib\site-packages\IPython\core\async_helpers.py", line 68, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3172, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3364, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3444, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\02003713\AppData\Local\Temp/ipykernel_10372/4080736814.py", line 1, in <module>
    import pandas as pd
  File "C:\Anaconda3\lib\site-packages\pandas\__init__.py", line 77, in <module>
    from pandas.core.api import (
  File "C:\Anaconda3\lib\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Anaconda3\lib\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Anaconda3\lib\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Anaconda3\lib\site-packages\pandas\core\arrays\arrow\array.py", line 50, in <module>
    from pandas.core import (
  File "C:\Anaconda3\lib\site-packages\pandas\core\ops\__init__.py", line 8, in <module>
    from pandas.core.ops.array_ops import (
  File "C:\Anaconda3\lib\site-packages\pandas\core\ops\array_ops.py", line 56, in <module>
    from pandas.core.computation import expressions
  File "C:\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py", line 21, in <module>
    from pandas.core.computation.check import NUMEXPR_INSTALLED
  File "C:\Anaconda3\lib\site-packages\pandas\core\computation\check.py", line 5, in <module>
    ne = import_optional_dependency("numexpr", errors="warn")
  File "C:\Anaconda3\lib\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\Anaconda3\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Anaconda3\lib\site-packages\numexpr\__init__.py", line 26, in <module>
    from numexpr.interpreter import MAX_THREADS, use_vml, __BLOCK_SIZE1__

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "C:\Anaconda3\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Anaconda3\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Anaconda3\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "C:\Anaconda3\lib\site-packages\traitlets\config\application.py", line 846, in launch_instance
    app.start()
  File "C:\Anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 677, in start
    self.io_loop.start()
  File "C:\Anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 199, in start
    self.asyncio_loop.run_forever()
  File "C:\Anaconda3\lib\asyncio\base_events.py", line 596, in run_forever
    self._run_once()
  File "C:\Anaconda3\lib\asyncio\base_events.py", line 1890, in _run_once
    handle._run()
  File "C:\Anaconda3\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 457, in dispatch_queue
    await self.process_one()
  File "C:\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 446, in process_one
    await dispatch(*args)
  File "C:\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 353, in dispatch_shell
    await result
  File "C:\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 648, in execute_request
    reply_content = await reply_content
  File "C:\Anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 353, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "C:\Anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 533, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2901, in run_cell
    result = self._run_cell(
  File "C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2947, in _run_cell
    return runner(coro)
  File "C:\Anaconda3\lib\site-packages\IPython\core\async_helpers.py", line 68, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3172, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3364, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3444, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\02003713\AppData\Local\Temp/ipykernel_10372/4080736814.py", line 1, in <module>
    import pandas as pd
  File "C:\Anaconda3\lib\site-packages\pandas\__init__.py", line 77, in <module>
    from pandas.core.api import (
  File "C:\Anaconda3\lib\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Anaconda3\lib\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Anaconda3\lib\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Anaconda3\lib\site-packages\pandas\core\arrays\arrow\array.py", line 64, in <module>
    from pandas.core.arrays.masked import BaseMaskedArray
  File "C:\Anaconda3\lib\site-packages\pandas\core\arrays\masked.py", line 60, in <module>
    from pandas.core import (
  File "C:\Anaconda3\lib\site-packages\pandas\core\nanops.py", line 52, in <module>
    bn = import_optional_dependency("bottleneck", errors="warn")
  File "C:\Anaconda3\lib\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\Anaconda3\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Anaconda3\lib\site-packages\bottleneck\__init__.py", line 2, in <module>
    from .reduce import (

AttributeError: _ARRAY_API not found

In [2]:
# Для скачивания файлов из репозитория в Colab 
# !wget https://raw.githubusercontent.com/da-python/new-modul-python/main/Lesson4/hometask/data/categories.csv -P data
# !wget https://raw.githubusercontent.com/da-python/new-modul-python/main/Lesson4/hometask/data/orders.json -P data

In [3]:
categories = pd.read_csv('categories.csv')
orders = pd.read_json('orders.json')

In [4]:
categories.head()

    ItemID                 Category  ParentCategory
0  1000002  Сладости для диабетиков        Сладости
1  1000046                     Вода         Напитки
2  1000048  Сладости для диабетиков        Сладости
3  1000049                     Вода         Напитки
4  1000061                   Фрукты  Овощи и фрукты

In [5]:
orders.head()

,OrderID,UserID,OrderTime,items,Date
0,90659865,1.609460e+18,2021-01-01 03:51:42,"[{'ItemID': '413736', 'price': 36.72, 'quantit...",2021-01-01
1,90622054,2.499293e+18,2021-01-01 04:13:13,"[{'ItemID': '961454', 'price': 179.9, 'quantit...",2021-01-01
2,90659952,3.945866e+17,2021-01-01 05:48:53,"[{'ItemID': '306553', 'price': 101.9, 'quantit...",2021-01-01
3,89765281,5.412765e+18,2021-01-01 08:33:41,"[{'ItemID': '979703', 'price': 99.9, 'quantity...",2021-01-01
4,90582308,6.380061e+18,2021-01-01 09:55:35,"[{'ItemID': '303765', 'price': 44.9, 'quantity...",2021-01-01

In [6]:
orders.groupby(['Date'])['OrderID'].count().sort_values(ascending=False).head(1)

Date
2021-02-05    342
Name: OrderID, dtype: int64

In [7]:
df1 = orders.explode('items')
df1

,OrderID,UserID,OrderTime,items,Date
0,90659865,1.609460e+18,2021-01-01 03:51:42,"{'ItemID': '413736', 'price': 36.72, 'quantity...",2021-01-01
0,90659865,1.609460e+18,2021-01-01 03:51:42,"{'ItemID': '523171', 'price': 90.32, 'quantity...",2021-01-01
0,90659865,1.609460e+18,2021-01-01 03:51:42,"{'ItemID': '452831', 'price': 223.11, 'quantit...",2021-01-01
0,90659865,1.609460e+18,2021-01-01 03:51:42,"{'ItemID': '303673', 'price': 59.9, 'quantity'...",2021-01-01
0,90659865,1.609460e+18,2021-01-01 03:51:42,"{'ItemID': '318193', 'price': 319.91, 'quantit...",2021-01-01
...,...,...,...,...,...
40374,93266815,1.620119e+18,2021-06-30 23:58:09,"{'ItemID': '439036', 'price': 17.5, 'quantity'...",2021-06-30
40374,93266815,1.620119e+18,2021-06-30 23:58:09,"{'ItemID': '303765', 'price': 6.56000000000000...",2021-06-30
40374,93266815,1.620119e+18,2021-06-30 23:58:09,"{'ItemID': '341794', 'price': 69.9, 'quantity'...",2021-06-30
40374,93266815,1.620119e+18,2021-06-30 23:58:09,"{'ItemID': '307216', 'price': 2.99, 'quantity'...",2021-06-30
40374,93266815,1.620119e+18,2021-06-30 23:58:09,"{'ItemID': '322455', 'price': 9.68, 'quantity'...",2021-06-30

In [8]:
def extract_values(dictionary):
    ItemID = dictionary['ItemID']
    price = dictionary['price']
    quantity = dictionary['quantity']
    return ItemID, price, quantity


df1[['ItemID', 'price', 'quantity']] = df1['items'].apply(lambda x: pd.Series(extract_values(x)))

In [9]:
df1.drop(columns='items')

,OrderID,UserID,OrderTime,Date,ItemID,price,quantity
0,90659865,1.609460e+18,2021-01-01 03:51:42,2021-01-01,413736,36.72,2
0,90659865,1.609460e+18,2021-01-01 03:51:42,2021-01-01,523171,90.32,1
0,90659865,1.609460e+18,2021-01-01 03:51:42,2021-01-01,452831,223.11,1
0,90659865,1.609460e+18,2021-01-01 03:51:42,2021-01-01,303673,59.90,7
0,90659865,1.609460e+18,2021-01-01 03:51:42,2021-01-01,318193,319.91,2
...,...,...,...,...,...,...,...
40374,93266815,1.620119e+18,2021-06-30 23:58:09,2021-06-30,439036,17.50,1
40374,93266815,1.620119e+18,2021-06-30 23:58:09,2021-06-30,303765,6.56,1
40374,93266815,1.620119e+18,2021-06-30 23:58:09,2021-06-30,341794,69.90,1
40374,93266815,1.620119e+18,2021-06-30 23:58:09,2021-06-30,307216,2.99,1
40374,93266815,1.620119e+18,2021-06-30 23:58:09,2021-06-30,322455,9.68,1

In [10]:
df1['GMV'] = df1['price']*df1['quantity']
df1

,OrderID,UserID,OrderTime,items,Date,ItemID,price,quantity,GMV
0,90659865,1.609460e+18,2021-01-01 03:51:42,"{'ItemID': '413736', 'price': 36.72, 'quantity...",2021-01-01,413736,36.72,2,73.44
0,90659865,1.609460e+18,2021-01-01 03:51:42,"{'ItemID': '523171', 'price': 90.32, 'quantity...",2021-01-01,523171,90.32,1,90.32
0,90659865,1.609460e+18,2021-01-01 03:51:42,"{'ItemID': '452831', 'price': 223.11, 'quantit...",2021-01-01,452831,223.11,1,223.11
0,90659865,1.609460e+18,2021-01-01 03:51:42,"{'ItemID': '303673', 'price': 59.9, 'quantity'...",2021-01-01,303673,59.90,7,419.30
0,90659865,1.609460e+18,2021-01-01 03:51:42,"{'ItemID': '318193', 'price': 319.91, 'quantit...",2021-01-01,318193,319.91,2,639.82
...,...,...,...,...,...,...,...,...,...
40374,93266815,1.620119e+18,2021-06-30 23:58:09,"{'ItemID': '439036', 'price': 17.5, 'quantity'...",2021-06-30,439036,17.50,1,17.50
40374,93266815,1.620119e+18,2021-06-30 23:58:09,"{'ItemID': '303765', 'price': 6.56000000000000...",2021-06-30,303765,6.56,1,6.56
40374,93266815,1.620119e+18,2021-06-30 23:58:09,"{'ItemID': '341794', 'price': 69.9, 'quantity'...",2021-06-30,341794,69.90,1,69.90
40374,93266815,1.620119e+18,2021-06-30 23:58:09,"{'ItemID': '307216', 'price': 2.99, 'quantity'...",2021-06-30,307216,2.99,1,2.99
40374,93266815,1.620119e+18,2021-06-30 23:58:09,"{'ItemID': '322455', 'price': 9.68, 'quantity'...",2021-06-30,322455,9.68,1,9.68

In [11]:
df1[['ItemID']] = df1[['ItemID']].apply(pd.to_numeric)

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 852818 entries, 0 to 40374
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   OrderID    852818 non-null  int64
 1   UserID     852818 non-null  float64
 2   OrderTime  852818 non-null  object
 3   items      852818 non-null  object
 4   Date       852818 non-null  datetime64[ns]
 5   ItemID     852818 non-null  int64
 6   price      852818 non-null  float64
 7   quantity   852818 non-null  int64
 8   GMV        852818 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(2)
memory usage: 65.1+ MB

In [13]:
df2 = df1.merge(categories).groupby(['ParentCategory']).sum(['GMV']).sort_values(by='GMV', ascending=False)

In [15]:
df2['GMV'].head(3)

ParentCategory
Мясо, птица, рыба     32268493.46
Молочная продукция    27702995.43
Овощи и фрукты        27607486.90
Name: GMV, dtype: float64

In [17]:
from collections import defaultdict

def recommend_item(order_id, orders):
    # Получаем все ItemID для данного OrderID
    rows = orders.query("OrderID == @order_id")
    order_items = rows['items'].values[0]
    order_item_ids = [item['ItemID'] for item in order_items]
    
    # Получаем все ItemID для всех заказов
    all_items = set()
    for index, row in orders.iterrows():
        items = row['items']
        all_items.update(item['ItemID'] for item in items)
    
    # Рекомендуем ItemID, который еще не был выбран
    missing_item_id = None
    for item_id in all_items:
        if item_id not in order_item_ids:
            missing_item_id = item_id
            break
    
    return missing_item_id, type(item_id)

# Пример использования функции
recommended_item = recommend_item(93266815, orders)
print("Рекомендованный ItemID:", recommended_item)

Рекомендованный ItemID: ('550595', <class 'str'>)